<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntegratorSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <IntegratorSales.Properties.Settings>
            <setting name="CriaCampos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAP_CompanyDB" serializeAs="String">
                <value>SEU_BANCO_DADOS</value>
            </setting>
            <setting name="SAP_UserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="MYSQL_database" serializeAs="String">
                <value>brb</value>
            </setting>
            <setting name="SAP_Password" serializeAs="String">
                <value>Senha123</value>
            </setting>
            <setting name="SAP_Server" serializeAs="String">
                <value>NDB@hanab1:30013</value>
            </setting>
            <setting name="SAP_LicenseServer" serializeAs="String">
                <value>hanab1:40000</value>
            </setting>
            <setting name="SAP_DbServerType" serializeAs="String">
                <value>HANA</value>
            </setting>
            <setting name="MYSQL_uid" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MYSQL_pwd" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MYSQL_Server" serializeAs="String">
                <value></value>
            </setting>
        </IntegratorSales.Properties.Settings>
    </applicationSettings>
</configuration>
